.fieldbox{
    display:none;
}

.teksts{
    margin-left:25px;
}

.error {
    color: red;
}

.btn-test{
    margin-right: 10px;
    width:75px;
    height: 37px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.btn{
    margin-top:10px;
}

.title{
    margin-top:30px;
}